.nav {
    background: #4c5270;
    width: 100%;
    height: 80px;
    max-height: 80px;
    /* margin-top: 30px; */
}

.logo{
    text-align: center;
    padding: 10px 60px;
    color: white;
    font-size: 35px;
    line-height: 60px;
    font-weight: bold;
}

.header-menu {
    float: right;
    margin-right: 30px;
    max-height: 80px;
    height: 80px;
}
/* .LoginRegisterHeader{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 23px;
} */

.sidemenu-menu-expanded {
    background: #4c5270;
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    transition: width .5s;
  }
  
  .sidemenu-menu-expanded .sidemenu-btn {
    padding: 0 calc(50px - 148px);
  }
  
  .sidemenu-menu-expanded .sidemenu-btn {
    color: white;
    font-size: 30px;
    text-align: center;
    width: 45px;
    cursor: pointer;
  }
  
  .sidemenu-menu-expanded .sidemenu-header {
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
    margin-top: -10px;
    transition: color .3s;
  }
  
  .sidemenu-menu-expanded .sidemenu-profile {
    display: inline;
    text-align: center;
    color: #f9f9f9;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    margin-bottom: 7px;
  }
  
  .sidemenu-menu-expanded .sidemenu-profile img {
    width: 55%;
    height: 17%;
    border-radius: 55% 55%;
  }
  
  .sidemenu-menu-expanded .sidemenu-profile .sidemenu-username {
    margin-bottom: 7px;
  }
  
  .sidemenu-menu-expanded .sidemenu-item {
    display: flex;
    padding: 10px 25px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
  }
  
  .sidemenu-menu-expanded .sidemenu-item-search {
    display: flex;
    padding: 10px;
    color: white;
    font-size: 18px;
  }
  
  .sidemenu-menu-expanded .sidemenu-item-search .sidemenu-item-logo {
    margin-right: 15px;
    margin-top: 4px;
  }
  
  .sidemenu-menu-expanded .sidemenu-item-search .sidemenu-item-text input {
    border: none;
    border-radius: 5px;
    padding: 8px;
  }
  
  .sidemenu-menu-expanded .sidemenu-item-search .sidemenu-item-text input {
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 190px;
  }
  
  .sidemenu-menu-expanded .sidemenu-item .sidemenu-item-logo {
    margin-right: 45px;
  }
  
  .sidemenu-menu-expanded .sidemenu-item:hover {
    background: #000;
    cursor: pointer;
  }
  
  /* .sidemenu-menu-expanded .sidemenu-logout {
    Esta propiedad debe queda abajo del sidemenu
  } */
  
  .sidemenu-menu-collapsed {
    background: #4c5270;
    position: fixed;
    height: 100%;
    width: 50px;
    top: 0;
    left: 0;
    transition: width .5s;
  }
  
  .sidemenu-menu-collapsed .sidemenu-header {
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    color: transparent;
    font-size: 35px;
    /* line-height: var(--header-height); */
    padding: 0 40px;
    font-weight: bold;
    margin-top: -10px;
    transition: color .3s;
  }
  
  .sidemenu-menu-collapsed .sidemenu-profile {
    display: inline;
    text-align: center;
    color: #f9f9f9;
    font-size: 18px;
    text-transform: capitalize;
  }
  
  .sidemenu-menu-collapsed .sidemenu-profile img {
    width: 90%;
    /* height: 7%;
    border-radius: 55% 55%; */
  }
  .sidemenu-menu-collapsed .sidemenu-profile .sidemenu-username {
    display: none;
  }
  
  .sidemenu-menu-collapsed .sidemenu-item, .sidemenu-item-search {
    display: flex;
    padding: 15px;
    color: white;
    font-size: 16px;
  }
  
  .sidemenu-menu-collapsed .sidemenu-item-text {
    display: none;
  }
  
  .sidemenu-menu-collapsed .sidemenu-item .sidemenu-item-logo {
    margin-right: 45px;
  }
  
  .sidemenu-menu-collapsed .sidemenu-item:hover {
    background: #000;
    cursor: pointer;
  }
  
  /* .sidemenu-menu-collapsed .sidemenu-logout {
    Esta propiedad debe queda abajo del sidemenu
  } */
  
  .sidemenu-menu-collapsed .sidemenu-btn {
    color: white;
    font-size: 30px;
    text-align: center;
    width: 45px;
    cursor: pointer;
    margin-bottom: 5px;
  }